@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Sora', sans-serif;
}


.input-middle[placeholder] {

    text-align: center;
}

input[type="text"], input[type="password"], textarea, select { 
    outline: none;
}

section{
    max-width: 80rem/* 1280px */;
}